body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Inter",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #2b2b2b;
    color: white;
}
div { gap: 2px; }
.map-container { 
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    cursor: grab;
}
.map { 
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
}
.pad-head { padding-top: 64px; }
.pad-tail { padding-bottom: 64px; }
.section { 
    display: flex; 
    flex-direction: row; 
    gap: 126px; 
    padding-left: 64px;
    padding-right: 64px;
    background-color: floralwhite;
}
.group { display: flex; }
.group.column { flex-direction: column;}
.group.row { flex-direction: row;}
.grid { 
    display: grid; 
    grid-template-columns: repeat(2, 60px); 
    grid-auto-rows: 60px; 
}
.grid button { 
    width: 60px; 
    height: 60px; 
    border: 1px solid #ed174f; 
    background: #ed174f; 
    color: white;
    cursor: pointer; 
    font-family: "Cal Sans",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 1px;
    transition: background 0.3s, color 0.3s;
}
.grid button:hover { 
    border-color: #ed174f; 
    background-color: white; 
    color: #ed174f; 
    transition: background 0.3s, color 0.3s;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ed174f;
    font-family: "Cal Sans",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 1px;
}
#C-LABEL-A { width: 62px; height: calc(2 * (60px + 2px) - 2px); }
#C-LABEL-B,
#C-LABEL-C,
#C-LABEL-D,
#C-LABEL-E,
#C-LABEL-F { width: calc(2 * (60px + 2px) - 2px); height: 62px; }
#C-LABEL-ENTRY {
    justify-content: left;
    align-items: center;
    color: #2b2b2b;
    width: calc(4 * (60px + 2px) - 2px);
    height: calc(2 * (60px + 2px) - 2px);
}
#C-LABEL-EXIT {
    justify-content: left;
    align-items: end;
    color: #2b2b2b;
    width: calc(2 * (60px + 2px) - 2px);
    height: 64px;
}
#C-SECTION-2 {
    margin-left: calc(8 * (60px + 2px));
}
#C-A-GRID-1 {
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(2, 60px);
}
#C-E-GRID-1 button[id="C-E18"],
#C-E-GRID-1 button[id="C-E17"],
#C-E-GRID-1 button[id="C-E16"] { visibility: hidden; }
#overlay {
    position: fixed;
    top: 16px; 
    left: 16px; 
    background: #2b2b2bff;
    color: white;
    padding: 12px 16px;
    font-family: "Cal Sans",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 1px;
    z-index: 100;
}